@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);

body {
	color: #ffffff;
	text-align: center;
	align-content: center;
	font-family: 'Work Sans', sans-serif;
	background: url(images/computer.jpg);
	background-size: cover;
}

h1 {
	color: rgba(255,255,255,.5);
}

#slogan {
	font-family: 'Londrina Solid';
	font-size: 2em;
}

#logo {
	padding-top:100px;
}

#contact {
	font-weight: bold;
	padding-top: 7em;
	text-transform: uppercase;
	font-size:2em;
}

p {
	font size: 10px;
	padding-left: 300px;
	padding-right: 300px;
}

ul {
    list-style-type: none;
}

a:link {
	color: #75b88f;
}