@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);

header {
	background: url(images/computer.jpg) no-repeat center center fixed;
	background-size: 100% auto;
}

body {
	color: #ffffff;
	text-align: center;
	align-content: center;
	font-family: 'Work Sans', sans-serif;
}

h2 {
	text-transform: uppercase;
}

p {
	font size: 10px;
}

footer {
	background-color: #75b88f;
	padding: 20px;
}

#wrapper {
	margin: 0 auto;
	}

#logo {
	padding:10px 0px;
	margin: 10px 0px 0px 0px;
}

#slogan {
	font-family: 'Londrina Solid';
	font-size: 1.5em;
	margin-bottom: 25px;
}

#contact {
	font-weight: bold;
	padding-top: 7em;
	text-transform: uppercase;
}