@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);

header {
	background: url(images/computer.jpg) no-repeat center center fixed;
	height:100vh;
	background-size: 100% auto;
}

body {
	color: #ffffff;
	text-align: center;
	align-content: center;
	font-family: 'Work Sans', sans-serif;
	margin: 0%;
}

h2 {
	text-transform: uppercase;
}

p {
	font size: 10px;
}

a {
	text-decoration: none;
	color: white;
}

section {
	clear: both;
}

aside img {
	width: 100%;
}

footer {
	clear: both;
	background-color: #75b88f;
	width: 100%;
	height: 50px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: “ “;
	clear: both;
	height: 0;
	font-size: 0;
	}

ul {
	position: fixed;
    top: 0;
    width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #75b88f;
	text-align: center;
	text-transform: uppercase;
}

li {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
}

li a {
	display: block;
    background-color: #75b88f;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

#wrapper {
	margin: 0 auto;
	}

#logo {
	padding:30vh 0px 0px 0px;
}

#slogan {
	font-family: 'Londrina Solid';
	font-size: 1.5em;
	margin-bottom: 25px;
}

#one {
	background-color: #d4d4d4;
}

#aboutimage {
	float: left;
	width: 40%;
}

#aboutcontent{
	color: #545454;
	float: right;
	width: 55%;
	padding: 2.5%;
}

#two {
	clear: both;
	padding-top: 50px;
	background-color: #545454;
	height: 100vh;
}

#three {
	background-color: #d4d4d4;
}

#contactimage {
	float: right;
	width: 40%;
}

#contactcontent{
	color: #545454;
	float: left;
	width: 55%;
	padding: 2.5%;
}

a #email {
	color: #545454;
}
#email {
	font-weight: bold;
	padding-top: 7em;
	text-transform: uppercase;

}

#copyright {
	position: relative;
	top: 50%;
}

.navelements:hover {
   background-color: #545454;
   color: white;
   text-align: center;
}

@media only screen and (max-width: 768px) {

	ul {
	position: fixed;
    bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
	}

	li {
    display: block;
    margin: 0;
    padding: 0;
	}

	#nav1 {
	background-color: red;
	}

	#nav2 {
	background-color: blue;
	}

	#nav3 {
	background-color: red;
	}

	#nav4 {
	background-color: blue;
	}
}