body {
	text-align: center;
	align-content: center;
	font-style: Arial, sans-serif;
	background: url(images/computer.jpg);
	background-size: cover;
}

h1 {
	color: #75b88f;
}

#slogan {
	color: #3d3d3d;
	font-style: italic;
}

p {
	padding-left: 200 px;
	padding-right: 200 px;
}