body {
	color: #ffffff;
	text-align: center;
	align-content: center;
	font-family: Arial, sans-serif;
	background: url(images/computer.jpg);
	background-size: cover;
}

h1 {
	font-weight: bold;
	color: rgba(255,255,255,.5);
}

#slogan {
	font-style: italic;
}

p {
	padding-left: 300px;
	padding-right: 300px;
}

ul {
    list-style-type: none;
}