body {
	font-color: #ffffff;
	text-align: center;
	align-content: center;
	font-family: Arial, sans-serif;
	background: url(images/computer.jpg);
	background-size: cover;
}

h1 {
	font-color: #ffffff;
}

#slogan {
	font-style: italic;
}

p {
	padding-left: 200 px;
	padding-right: 200 px;
}